body {
    background-image: url("../img/Tisza.JPG");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.about {
    margin-top: 20px;
    font-size: 12px;
    color: #041d01;
    text-align: right;
}
