body {
    background-image: url("Tisza.JPG");
    background-size: cover;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.about {
    margin-top: 20px;
    font-size: 12px;
    color: #ee0d05;
    text-align: right;
}
#quote {
    font-size: larger;
    font-style: italic;
    text-align: center;
    margin-top: 80px;
}